In [2]:
import pandas as pd
import json

In [47]:
myAddress = "bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhft652zutvwq87a2mp"
sat = 100000000

In [17]:
with open('output/allVinData.json', 'r') as file:
    allVinData = json.load(file)
with open('output/allVoutData.json', 'r') as file:
    allVoutData = json.load(file)
with open('output/txData.json', 'r') as file:
    txData = json.load(file)
# print(data)

In [23]:
df_allVinData = pd.DataFrame(allVinData)

df_allVinData_0 = df_allVinData[df_allVinData['tx_index'] == 0]
df_allVinData_0

,tx_index,vin_tx,vin_address,vin_value
0,0,9b1eb34d98f18660526e5211389fc30786d67cad547b7a...,bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhf...,272000
1,0,b499847d6e4e2c7342561167631f758a541465c8d04075...,bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhf...,260000
2,0,c9843591ed466879a921b513070c63fa44fb710c9e1e0e...,bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhf...,248935
3,0,cac99c59f90162d56b245a609f5ac21658850533019f55...,bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhf...,85000

In [51]:
df_allVoutData = pd.DataFrame(allVoutData)

df_allVoutData_0 = df_allVoutData[df_allVoutData['tx_index'] == 0]
df_allVoutData_0

   tx_index                                       vout_address  vout_value
0         0  bc1p2fc9nwpgje3juaa3w5mqk9y63wnd24ddt9vxhrrmjd...      800000
1         0  bc1pw024mk00s8u5psewxc0d0tevhrq3pe6jk84nj6sqhf...       46255

In [57]:
if df_allVinData_0[df_allVinData_0['vin_address'] == myAddress].shape[0] == 0:
    # that means i receive something
    print('no input is myAddress')
else:
    total_input = df_allVinData_0['vin_value'].sum()
    print('your input:', total_input/sat)
    
    total_output = df_allVoutData_0['vout_value'].sum()
    print('your output:', total_output/sat)
    
    print('fees:', (total_input - total_output)/sat)

your input: 0.00865935
your output: 0.00846255
fees: 0.0001968